<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.medicare">
    <!-- map api 관련 설정 -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MediCare"
        tools:targetApi="31">
        <activity
            android:name="com.example.ktmedicare.MediList"
            android:exported="false" />
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" /> <!-- value : AIzaSyD-UQ1jV22xEqadsspw58R7lpNaifxzrdw -->
        <activity
            android:name=".MapsActivity"
            android:exported="false"
            android:label="@string/title_activity_maps" />
        <activity
            android:name=".HCPassword"
            android:exported="false" />
        <activity
            android:name=".MediQuestion"
            android:exported="false" />
        <activity
            android:name=".MediAskQuestion"
            android:exported="false" />
        <activity
            android:name=".MediHelp"
            android:exported="false" />
        <activity
            android:name=".ModifyLoginIdCheck"
            android:exported="false" />
        <activity
            android:name=".ModifyLoginPassword"
            android:exported="false" />
        <activity
            android:name=".ModifyLoginID"
            android:exported="false" />
        <activity
            android:name=".MediAccount"
            android:exported="false" />
        <activity
            android:name=".MediRegister"
            android:exported="false" />
        <activity
            android:name=".MediLogin"
            android:exported="false" />
        <activity
            android:name=".MediSubBookmark"
            android:exported="false" />
        <activity
            android:name=".IntroActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.ktmedicare.MainActivity" />
        <activity
            android:name=".MediCalendar"
            android:exported="false" />
        <activity android:name=".MainMenuActivity" />
    </application>

</manifest>